.navbar-start {
    padding-left: 40em;
}

.navbar-item {
    padding: 1em;
    font-size: 18px;
    font-family: 'Paytone One', sans-serif;
    color: steelblue;
}

html {
    
}

button:hover { 
    cursor: pointer;
}
a:hover {
    cursor: pointer;
}

.navbar {
    background-image: url('#');
    position: relative;
    background-size: auto;
    background-color: transparent;
}

.logo {
    font-family: 'Modak', cursive;
    display: inline-block; 
    font-size: 4rem;
    color: steelblue;
    padding-left: 1em;
}
#logo-img {
    height: 70px;
    position: relative;
    left: 20px;
}
#container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 15px;
}

button {
    border: 0;
    border-radius: 12px;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    position: relative;
    background-color:steelblue;
    font-family: 'Concert One', cursive;
    font-size: 18px;
    cursor: crosshair;
}


footer {
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2 {
    font-weight: 700;
}

a:hover {
    text-decoration: underline; 
    cursor: crosshair;
    background-color: transparent !important;
}

#social-media {
    font-size: 16px;
    text-align: center;
}

#social-media i, a {
    color: white;
    padding-right: 10px;
}
#social-media a:hover {
    color:white;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 50px;
  }
  .column h2 {
      text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  #contact-info a{
    color: white;
    opacity: 1
  }

  #bottom {
      color: white;
  }

#weather {
    background-image: url('#');
    background-repeat: no-repeat;
    display: block;
}








